* {
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background-color: #dedede; }

::selection {
  background-color: rgba(237, 64, 64, 0.616);
  color: white; }

.container {
  max-width: 59rem;
  margin: 0 auto;
  padding: 0; }

.orgnizedNavBar {
  padding: 0.6rem;
  display: flex;
  width: 96%;
  height: 2.9rem;
  justify-content: space-between;
  margin: 1rem auto;
  border-radius: 100px;
  background-color: rgba(136, 133, 133, 0.516); }
  .orgnizedNavBar__person, .orgnizedNavBar__logo, .orgnizedNavBar__chat {
    margin: 0;
    transform: scale(1);
    transition: ease-in-out transform 0.3s; }
  .orgnizedNavBar__person:hover, .orgnizedNavBar__logo:hover, .orgnizedNavBar__chat:hover {
    transform: scale(1.1); }
  .orgnizedNavBar__person:active, .orgnizedNavBar__logo:active, .orgnizedNavBar__chat:active {
    transform: scale(1.06); }

.mainContent {
  position: relative;
  width: 85%;
  margin: 0 auto;
  transform: translate(25%); }
  .mainContent__img {
    width: 50%;
    border-radius: 13px; }
  .mainContent__header {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1.1rem;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
  .mainContent__para {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1.17rem;
    color: B7B7B7;
    font-size: 0.9rem;
    padding-bottom: 1 rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mainContent__stamp {
    position: absolute;
    width: 12rem;
    top: 0;
    left: 0;
    transform: translate(9%, 54%) rotate(-30deg); }

.btnContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-top: 2.4rem; }
  .btnContainer__btnDis, .btnContainer__btnLike {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.363);
    transition: box-shadow ease-in-out 0.4s; }
  .btnContainer__btnLike {
    margin-left: 1rem; }
  .btnContainer__btnLike:hover {
    box-shadow: 0 10px 20px #ccf1e6;
    background-color: #dbfff4; }
  .btnContainer__btnDis:hover {
    box-shadow: 0 10px 20px #edd9df;
    background-color: #ffe7ef; }
  .btnContainer__img {
    height: 1.9rem;
    width: 1.9rem; }

.none {
  display: none; }
