.container {
  max-width: 59rem;
  margin: 0 auto;
  padding: 0;
}

.orgnizedNavBar {
  padding: 0.6rem;
  display: flex;
  width: 96%;
  height: 2.9rem;
  justify-content: space-between;
  margin: 1rem auto;
  border-radius: 100px;
  background-color: rgba(136, 133, 133, 0.516);

  &__person,
  &__logo,
  &__chat {
    margin: 0;
    transform: scale(1);
    transition: ease-in-out transform 0.3s;
  }
  //   &__logo {
  //   }
  //   &__chat {
  //   }

  &__person:hover,
  &__logo:hover,
  &__chat:hover {
    transform: scale(1.1);
  }

  &__person:active,
  &__logo:active,
  &__chat:active {
    transform: scale(1.06);
  }
}

.mainContent {
  position: relative;
  width: 85%;
  margin: 0 auto;
  transform: translate(25%);

  &__img {
    width: 50%;
    border-radius: 13px;
  }

  &__header {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1.1rem;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &__para {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1.17rem;
    color: B7B7B7;
    font-size: 0.9rem;
    padding-bottom: 1 rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__stamp {
    position: absolute;
    width: 12rem;
    top: 0;
    left: 0;
    transform: translate(9%, 54%) rotate(-30deg);
  }
}

.btnContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-top: 2.4rem;

  &__btnDis,
  &__btnLike {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.363);
    transition: box-shadow ease-in-out 0.4s;
  }

  &__btnLike {
    margin-left: 1rem;
  }

  &__btnLike:hover {
    box-shadow: 0 10px 20px #ccf1e6;
    background-color: #dbfff4;
  }

  &__btnDis:hover {
    box-shadow: 0 10px 20px #edd9df;
    background-color: #ffe7ef;
  }

  &__img {
    height: 1.9rem;
    width: 1.9rem;
  }
}
